@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e6e6e661;
}

h1 {
  font-family: 'Josefin Slab', serif;
}

.main-navbar {
  background-color: #2E6035;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .search-fprms {
    position: relative;
    top: 10%;
    right: 10%;
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .wish-list-icon {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 74%;
    width: 37px;
  }
}

@media screen and (max-width: 834px) {
  .wish-list-icon {
    left: 70%;
  }
}

@media screen and (max-width: 820px) {
  .wish-list-icon {
    left: 60%;
  }
}

@media screen and (max-width: 715px) {
  .wish-list-icon {
    left: 56%;
  }
}

@media screen and (max-width: 666px) {
  .wish-list-icon {
    left: 54%;
  }
}

@media screen and (max-width: 490px) {
  .wish-list-icon {
    left: 42%;
  }
}

@media screen and (max-width: 450px) {
  .wish-list-icon {
    left: 37%;
  }
}

@media screen and (max-width: 991px) {
  .cart-icon {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 79%;
    width: 37px;
  }
}

@media screen and (max-width: 834px) {
  .cart-icon {
    left: 75%;
  }
}

@media screen and (max-width: 820px) {
  .cart-icon {
    left: 66%;
  }
}

@media screen and (max-width: 715px) {
  .cart-icon {
    left: 63%;
  }
}

@media screen and (max-width: 490px) {
  .cart-icon {
    left: 52%;
  }
}

@media screen and (max-width: 490px) {
  .cart-icon {
    left: 52%;
  }
}

@media screen and (max-width: 490px) {
  .cart-icon {
    left: 45%;
  }
}

@media screen and (max-width: 490px) {
  .cart-icon {
    left: 47%;
  }
}

@media screen and (max-width: 940px) {
  .sign {
    left: 12%;
  }
}

@media screen and (max-width: 870px) {
  .sign {
    left: 17%;
  }
}

@media screen and (max-width: 834px) {
  .sign {
    left: 20%;
  }
}

@media screen and (max-width: 834px) {
  .sign {
    left: 0%;
  }
}

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da;
}

.focus-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.search-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.search-btn {
  position: relative;
  left: -55px;
}

.heart-a {
  border: 1px solid white;
  border-radius: 28px;
  padding: 4px 8px;
  font-size: 18px;
}

.heart-a {
  background-color: #2E6035;
}

.heart-a:hover .heart {
  color: #3D7B43;
}

.heart-a:hover .bag {
  color: #3D7B43;
}

.bag {
  position: relative;
  top: -3px;
  left: -.8px;
  color: white;
}

.heart {
  position: relative;
  top: -1px;
  left: -.8px;
  color: white;
}

@media screen and (max-width: 991px) {
  .heart {
    position: relative;
    top: -1px;
    left: 8.2px;
  }
}

@media screen and (max-width: 991px) {
  .bag {
    position: relative;
    top: -3px;
    left: 8.2px;
    color: white;
  }
}

@media screen and (max-width: 991px) {
  .sign-user {
    position: absolute;
    top: 10%;
    right: 6%;
  }
}

@media screen and (max-width: 490px) {
  .sign-user {
    position: absolute;
    top: 10%;
    right: 9%;
  }
}

.sub-navbar {
  background-color: #3D7B43;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
  z-index: 2;
}

.containers {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sign {
  position: relative;
  top: 6px;
  border: 1px solid white;
  border-radius: 28px;
  font-size: 15px;
  width: 100px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.sign-in {
  position: relative;
  top: -1px;
  left: -4px;
  font-size: 14px;
  color: white;
}

.bi-sign {
  position: relative;
  top: -1px;
}

.carousel-img {
  height: 80vh;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 60px !important;
  padding: 0px 0px !important;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.owl-next span {
  padding: 0px 15px;
  position: relative;
  top: -70px;
  color: white;
  font-size: 100px !important;
}

.owl-next {
  height: 40px !important;
}

.owl-prev {
  height: 40px !important;
}

.owl-next span:hover {
  color: #66bf66 !important;
}

.owl-next {
  outline: none !important;
}

.owl-prev span:hover {
  color: #66bf66 !important;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  font-size: 60px !important;
  padding: 0px 0px !important;
  color: white !important;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.owl-prev {
  outline: none !important;
}

.owl-prev:hover {
  color: #66bf66;
}

.owl-prev span {
  padding: 0px 15px;
  position: relative;
  top: -70px;
  font-size: 100px !important;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: relative !important;
  top: 0px !important;
}

.owl-image {
  height: 60vh !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: none !important;
}

button:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #66bf66 !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px !important;
  height: 6px !important;
}

.bi-search::after {
  content: "";
  font-family: FontAwesome;
  left: -49px;
  position: relative;
  top: 1px;
  font-size: 20px;
  padding: 4px 9px;
  border-right: 1px solid #d1d7e0;
}

.card-img-top {
  height: 200px;
}

.row-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card img {
  padding: 10px 10px;
  -webkit-transition: 450ms;
  transition: 450ms;
}

.card img:nth-child(2) {
  position: absolute;
  left: 0;
  opacity: 0;
}

.card:hover img:nth-child(2) {
  opacity: 1;
  top: 0;
}

.card:hover img:nth-child(1) {
  opacity: 0;
}

.price {
  display: inline;
}

.price button {
  position: absolute;
  right: 5%;
  bottom: 2%;
  background-color: #2E6035;
  border: none;
}

.price button i {
  position: relative;
  top: -3px;
}

.btn-secondary:focus {
  border-color: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.our-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-box-shadow: #00000040 0px 0px 15px -7px;
          box-shadow: #00000040 0px 0px 15px -7px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
}

.offer-slider.owl-carousel.owl-drag .owl-item {
  padding: 20px 0px;
}

.offer-slider {
  height: 270px;
  -webkit-box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
          box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.Best-Offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card:hover {
  -webkit-box-shadow: #00000026 0px 5px 15px 0px;
          box-shadow: #00000026 0px 5px 15px 0px;
}

.offer-slider.slider-item {
  -webkit-box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
          box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.offer-slider .slider-item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.offer-slider .slider-item {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slider-item img {
  height: 200px;
}

.offer {
  display: inline-block;
  position: absolute;
  border: 1px solid #38633c;
  border-radius: 0px 10px 10px 0px;
  background-color: #3D7B43;
  padding: 0px 10px;
  height: 25px;
  top: 22px;
  left: 0px;
  color: white;
}

.sale {
  display: inline-block;
  position: absolute;
  border: 1px solid #38633c;
  border-radius: 10px 0px 0px 10px;
  background-color: #3D7B43;
  padding: 0px 10px;
  height: 25px;
  top: 22px;
  right: 0px;
  color: white;
}

.out-stock {
  padding: 0px 10px;
  color: white;
  position: relative;
  top: -132px;
  left: 20%;
  border: 1px dashed lightgray;
  display: inline;
}

.dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quantity {
  position: absolute;
  left: 10px;
}

.prices {
  position: absolute;
  right: 10px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.btn-secondary:focus {
  background-color: #3D7B43;
}

.btn-secondary {
  border: none !important;
  background-color: #3D7B43 !important;
}

.btn-secondary:hover {
  background-color: #2E6035;
}

.dropdown-toggle {
  width: -webkit-fill-available;
}

.banner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards img {
  height: 300px;
}

.veg-fruit-card img {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fruit-veg-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #2E6035;
  margin-top: 50px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addicon {
  padding: 0px 10px 0px 0px;
}

.mail-icon {
  padding: 0px 10px 0px 0px;
}

.contact-icon {
  padding: 0px 10px 0px 0px;
}

.category {
  -webkit-column-count: 2;
          column-count: 2;
}

.information {
  color: white;
}

.get-help {
  color: white !important;
  margin-bottom: 0px !important;
}

.filter-clear-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fil-clear-all {
  font-size: 13px;
  font-weight: bolder;
}

.Category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 13px;
  font-weight: bolder;
}

.Category span {
  position: relative;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 3px;
}

.vegetables-ul {
  display: none;
}

.card:hover .vegetables-ul {
  display: block;
}
/*# sourceMappingURL=style.css.map */